doctype html
html
  head
    title Contact Request
  body
    h1 Contact Request from #{tenName}
    ul
      li
        |Regarding: #{appAddress}
      li
        |Phone: #{phoneNumber}
      li
        |Email: #{emailAddress}
      li
        |Message: #{textArea}

