doctype html
html
    head
        title Maintenance Request
    body
        h1 Maintenance Request from #{tenName}
        ul
            li
                |Address: #{appAddress}
            li
                |Phone: #{phoneNumber}
            li
                |Email: #{email}
            li
                |Issue: #{textArea}

