doctype html
html
  head
    title Notice to Vacate
  body
    h1 Notice to Vacate from #{tenName}
    ul
      li
        |Address: #{appAddress}
      li
        |Phone: #{phoneNumber}
      li
        |Email: #{emailAddress}
      li
        |Issue: #{textArea}

