doctype html
html
  head
    title Notice Request
  body
    h1 Notice Request from #{tenName}
    ul
      li
        |Address: #{appAddress}
      li
        |Phone: #{phoneNumber}
      li
        |Email: #{emailAddress}
      li
        |Issue: #{textArea}

