doctype html
html
  head
    title Jacob Lei Payment Conformation
  body
    h1 Payment Conformation for #{propertyName}
    ul
      li
        |Name: #{first_name}
      li
        | Name: #{last_name}
      li
        |Phone: #{phone_number}
     li
        |Amount Paid: #{amt}


