doctype html
html
  head
    title Jacob Lei Payment Confirmation
  body
    h1 Payment Conformation for #{property_name}
    ul
      li
        | First Name: #{given_name}
      li
        | Last Name: #{family_name}
      li
        |Phone: #{phone_number}
      li
        |Amount Paid: $ #{amountToPay}


