doctype html
html
  head
    title Jacob Lei Payment Conformation
  body
    h1 Payment Conformation for #{propertyName}
    ul
      li
        |Name: #{given_name}
      li
        | Name: #{family_name}
      li
        |Phone: #{phone_number}
     li
        |Amount Paid: #{amt}


